
/* Custom Slider Styling */
.slider-custom {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 15px 0;
}

/* Mouse-over effects */
.slider-custom:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider-custom::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; /* Circular cursor */
    background: #4a4a4a; /* Dark grey cursor color */
    cursor: pointer; /* Cursor on hover */
}

.slider-custom::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    border-radius: 50%;
    background: #4a4a4a;
    cursor: pointer;
}